{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
	<h1>Регистрация</h1>
	{{ form_start(form) }}
	{{ form_row(form.email) }}
	{{ form_row(form.plainPassword, {'label': 'Пароль'}) }}
	{{ form_row(form.firstName, {'label': 'Имя'}) }}
	{{ form_row(form.lastName, {'label': 'Фамилия'}) }}
	{{ form_row(form.address, {'label': 'Адрес'}) }}

	<div class="form-group row">
		<div class="col-sm-10 offset-2">
			<button type="submit" class="btn btn-primary">Зарегистрироваться</button>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}


